* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D6EE52;
    padding: 10px 30px;
    margin-bottom: 50px;
}

header img {
    width: 200px;
}

header p {
    font-size: 40px;
    font-weight: bold;
}

section {
    margin: 0px 70px;
}

.trainee-image {
    border: solid 1px #D6EE52;
}

.personal-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.personal-info-container img {
    width: 350px;
    height: auto;
}

.trainee-name-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 30px;
}

.trainee-name-container h2 {
    font-size: 40px;
}

.trainee-personal-information-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trainee-personal-information-container p {
    font-size: 18px;
}

.information-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 50px;
    text-align: justify;
}

.section-title {
    color: white;
    background-color: #BED733;
    padding: 4px 10px;
    width: fit-content;
}

.information-container p {
    font-size: 18px;
}

.information-container ul {
    padding-left: 30px;
    font-size: 18px;
    line-height: 28px;

}

.skill-items-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.responsibilities-container {
    margin: 20px 30px;
}

.formation-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.formation-title {
    font-weight: bold;
}

footer {
    width: 100%;
    background-color: #D6EE52;
    height: 40px;
    margin-top: 40px;
}

@media (max-width: 480px) {
    .trainee-image {
        width: 200px;
        /* más pequeño */
        margin: 0 auto;
        /* centrado */
        display: block;
    }
}